<div class="contenedor">


        
    <form action="" class="form">
        <div class="form-header">
            <h1 class="form-title">R<span>egistrar Mascota</span></h1>
        </div>            
        
    <label for="nombre" class="form-label">Id:</label>
    <input type="text" id="id" class="form-input" placeholder="">

    <label for="direccion" class="form-label">Nombre:</label>
    <input type="text" class="form-input" id="nombre" placeholder="Escribe nombre de la mascota">

    <label for="correo" class="form-label">Estado:</label>
    <input type="email" class="form-input" id="estado" placeholder="Escribe el estado">

    <label for="mensaje" class="form-label">Comentario:</label>
    <textarea id="mensaje" class="form-textarea" placeholder="Escribe un comentario"></textarea>



    <div class="especie">Especie:
        <select name="especie" class="selection">
            <option disabled="">Selecciona una opciòn</option>
            <option>Perro</option>
            <option>Gato</option>
        </select>                
    </div>



    <div class="imgadd" id="mostrarimg">
        <span class="details">Agregar foto</span>
        <input type="file" name="imgadd" id="imgadd" size="60">
    </div>


        <div class="button">
        <input type="submit" value="Registrar">
        </div>

        <div class="button">
            <input type="submit" value="Cancelar">
            </div>

            <div class="button">
                <input type="submit" value="Salir">
                </div>
