<body>
<p align="center"><img src="https://th.bing.com/th/id/R.19209a0ba9182788d712bf117dea8dd1?rik=h5%2bcbED5xSg3aA&pid=ImgRaw&r=0">
 <div class="container">
<form class="row g-3 needs-validation" novalidate>
        <b class="titulo"> Recuperar Contraseña</b>    
    <div class="col-md-4">
        <label for="txtCorreo" class="form-label">Correo</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="text" class="form-control" id="txtCorreo" aria-describedby="inputGroupPrepend" required>
        </div>
    </div>
    <b class=" sdf"> Para recuper su contraseña ingrese por favor el correo electronico con el que se registro en la plataforma </b>
    <br>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
</form>
</div>
    
</body> 