
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<div><H1>PANEL PRINCIPAL</H1></div>
<body> 
  <div class="container">
  <ul class="modules-list">
    <a routerLink="/seguridad/identificar">
    <li>  
     <div>
        <i class="fa fa-user fa-5x" style="color:pink"></i>
         <h3>ADMINISTRADOR</h3>
        <p>Consola para el ingreso del administrador</p>
      </div>
    </li>
     </a>
     <a routerLink="/seguridad/identificar">
    <li>
     <div>
        <i class="fa fa-user fa-5x" style="color:pink"></i>
        <h3>ASESOR</h3>
        <p>Consola para el ingreso del asesor</p>
      </div>
    </li>
     </a>
    <a routerLink="/seguridad/identificar">
    <li>
     <div>
        <i class="fa fa-user fa-5x" style="color:pink"></i>
        <h3>CLIENTE</h3>
        <p>Consola para el ingreso del cliente</p>
      </div>
    </li>
      </a>
  </ul>
    </div>
</body>