<!--seccion Home-->
<section id="Home">



    <div class="btn-ingresaya" img src="./assets/imagen.jpg" >
     
       
        
    



    <h1>BIENVENIDOS<br>Clinica Veterinaria Mascota Feliz</h1>
    <a routerLink="/administrador"><button>INGRESA YA!</button></a>
        

 
</div>
</section>


<!--seccion conocenos-->
<section id="Conocenos">
        
    <div class="container" >
        <div class="texto">

       
            <h2>Ven <span class="color-acento">Conocenos!</span></h2>
            <p>
                Somos una clínica veterinaria. Contamos con una gran experiencia profesional que se preocupa por la
                salud y el bienestar de su mascota ofreciéndole una gran atención y un buen trato, con los más altos
                rendimientos en tecnología para la atención médica de su mascota contamos con los mejores médicos
                veterinarios que les ofrecerá la mejor atención.</p>
        </div>
    </div>
</section>


<!--seccion vision y mision-->
<section id="caracteristicas">
    <div class="visionmision">
        <ul>
            <h2>VISIÓN</h2>
    
            <li>Tiene como misión ofrecer bienestar a cada una de nuestras mascotas, que sus familias entiendan 
                los deberes y los derechos que tienen las mascotas desde el instante que entran a formar parte de 
                sus vidas. Nuestro grupo de trabajo comparte valores y principios éticos de respeto, responsabilidad
                 y compromiso, superándolas expectativas de nuestros clientes y entregando calidad y satisfacción en
                nuestros servicios.</li>
               
            <h2>MISIÓN</h2>
            <li>Tiene como visión ser una empresa sólida, líder en prestación de servicios médicos veterinarios 
                de la mejor calidad y profesionalismo, con énfasis en animales de compañía. Nuestro compromiso social
                es mejorar la calidad de vida de las familias a través del cuidado de la salud de nuestros pacientes
                contando con excelente tecnología, un equipo médico altamente calificado con educación y capacidad 
                continua.</li>
       
        </ul>
    </div>
</section>

<!--seccion Producto y servicio-->
<!-- Contenedor -->
<section>
    <div class="pricing-wrapper clearfix">
      <!-- Titulo -->
      <div class="pricing-table">
        <h3 class="pricing-title">STANDAR</h3>
        <div class="price">Todas<sup>las razas</sup></div>
        <!-- Lista de Caracteristicas / Propiedades -->
        <ul class="table-list">
          <li>🌘 <span>Vacunación</span></li>
          <li>🌘 <span>Consulta</span></li>
          <li>🌘 <span>Aseo</span>
            <ul>
              <span>◾ Baño</span><br>
              <span>◾ Peluqueria</span><br>
            </ul>
          </li>
        </ul>
        <!-- Contratar / Comprar -->
        <div class="table-buy">
          <p>$60.000<sup>/mes</sup></p>
          <a href="#" class="BotonComprar">COMPRAR</a>
        </div>
      </div>
  
      <div class="pricing-table recommended">
        <h3 class="pricing-title">PLATINIUM</h3>
        <div class="price">Todas<sup>las razas</sup></div>
        <!-- Lista de Caracteristicas / Propiedades -->
        <ul class="table-list">
          <li>🌗 <span>Paseo</span></li>
          <li>🌗 <span>Vacunación</span></li>
          <li>🌗 <span>Consulta</span></li>
          <li>🌗 <span>Nutrición</span></li>
          <li>🌗 <span>Hospitalización</span></li>
          <li>🌗 <span>Aseo</span>
            <ul>
              <span>◾ Baño</span><br>
              <span>◾ Peluqueria</span><br>
            </ul>
          </li>
        </ul>
        <!-- Contratar / Comprar -->
        <div class="table-buy">
          <p>$100.00<sup>/mes</sup></p>
          <a href="#" class="BotonComprar">COMPRAR</a>
        </div>
      </div>
  
      <div class="pricing-table">
        <h3 class="pricing-title">PREMIUM</h3>
        <div class="price">Todas<sup>las razas</sup></div>
        <!-- Lista de Caracteristicas / Propiedades -->
        <ul class="table-list">
          <li>🌕 <span>Guardería</span></li>
          <li>🌕 <span>Paseo</span></li>
          <li>🌕 <span>Vacunación</span></li>
          <li>🌕 <span>Nutrición</span></li>
          <li>🌕 <span>Hospitalización</span></li>
          <li>🌕 <span>Aseo</span>
            <ul>
              <span>◾ Baño</span><br>
              <span>◾ Peluqueria</span><br>
              <span>◾ Manicure</span><br>
            </ul>
          </li>
        </ul>
        <!-- Contratar / Comprar -->
        <div class="table-buy">
          <p>$200.000<sup>/mes</sup></p>
          <a href="#" class="BotonComprar">COMPRAR</a>
        </div>
      </div>
    </div>
  </section>
 <br>
 <br>

    <div class="contenedor">
        
        <form action="" class="form">
            <div class="form-header">
                <h1 class="form-title">C<span>ontáctenos</span></h1>
            </div>
            
        <label for="nombre" class="form-label">Nombres:</label>
        <input type="text" id="nombre" class="form-input" placeholder="Escribe tu nombre">

        <label for="direccion" class="form-label">Dirección:</label>
        <input type="text" class="form-input" id="direccion" placeholder="Escribe tu dirección">

        <label for="correo" class="form-label"> Correo Electronico:</label>
        <input type="email" class="form-input" id="correo" placeholder="Escribe tu email">

        <label for="mensaje" class="form-label">Mensaje:</label>
        <textarea id="mensaje" class="form-textarea" placeholder="Escribe tu mensaje"></textarea>

        <input type="submit" class="btn-submit" value="Enviar consulta">
