
.nav-wrapper{
   background: linear-gradient(135deg, #2675f4a7, #9e4ab9c4);

}
.right hide-on-med-and-down{
   background: linear-gradient(135deg, #2675f4a7, #9e4ab9c4);

}
.sidenav{
   background: linear-gradient(135deg, #2675f4a7, #9e4ab9c4);
}